body{
	margin:0;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(back4.jpg);
    background-size:cover;
    background-position: center;
    font-family: sans-serif; 
}
.product-info{
	margin-top:100px;
	color:#fff;
	text-transform: uppercase;
	transition:all 4s ease-in-out;
}
.product-info h1{
	font-size:32px;
	line-height:10px;
}
.product-info h2{
	font-size: 16px;
}