.container{
	margin-top: 100px;
}
.newarrival{
	background: green;
	width:50px;
	color:white;
	font-size: 12px;
	font-weight: bold;
}
.col-md-7 h2{
	color:#555;
}
.star{
	height:15px; 
}
.price{
	color:orange;
	font-size:26px;
	font-weight: bold;
	padding-top:20px;

}
input{
	border:1px solid #ccc;
	font-weight: bold;
	height:33px;
	text-align: center;
	width:30px;

}
.cart{
	background:grey;
	color:white;
	font-size:15px;
	margin-left: 20px;
}