#searchBar{
	border:1px solid #000000;
	border-right:none;
	font-size: 16px;
	padding: 10px;
	outline: none;
	width:250px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-top-left:10px;
	-moz-border-radius-bottom-left:10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 1p0px;

}
#searchBtn{
	border:1px solid #000000;
	font-size: 16px;
	padding: 10px;
	background: #f1d829;
	font-weight:bold;
	cursor: pointer;
	outline:none;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-top-right:10px;
	-moz-border-radius-bottom-right:10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 1p0px;

}
#searchBtn:hover{
	background:#f6e049;
}